.dropdown-container {
  position: absolute !important;
  width: auto !important;
  height: auto !important;
  top: -50px !important;
  left: -20px !important;
}

.datepicker {
  width: 100px;
  display: flex;
  justify-content: center;
}